input {
  display: block;
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-family: inherit;
  font-size: inherit;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 8px;
  border-width: 0;
  border-bottom: 2px solid #3f51b5;
}

input:focus{
  outline: none;
}

input.invalid {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid red;
}

mat-error {
  font-size: 6px;
}