mat-form-field {
  padding: 0 10px;
}

input {
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-family: inherit;
  font-size: inherit;
  height: 24px;
  padding-bottom: 8px;
  border-width: 0;
  border-bottom: 1px solid #e0e0e0;
}

input:focus{
  border-bottom: 2px solid #3f51b5;
  outline: none;
  padding-bottom: 7px;
}