/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import './fonts.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
@import '~ag-grid/dist/styles/ag-theme-material.css';
@import '~handsontable/dist/handsontable.full.css';


body {
    margin: 0;
    /* font-family: 'Roboto', 'Noto Sans KR' */
}

/* .ag-cell-inline-editing .ag-cell-edit-input select.ag-cell-edit-input {
  height: 100%;
} */

.ag-theme-material .ag-cell-inline-editing {
  height: 100%;
  padding: 1em;
}